html, body {
    margin: 0;
    padding: 0;
}
body  {
    color: white;
    background: url("https://images.unsplash.com/photo-1587506885515-6ada8e99cc0d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80") no-repeat center center fixed;     
    filter: brightness(50%);
    background-size: cover;
    height: 100vh;
    font-family: 'Lato', sans-serif;
  
}
.hero{

    margin: -10px;
    height: 10vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #00ff88, #00b5e2);
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px #000000;
    font-family: "Itim", cursive;

}
.nav{
    
    display: flex;
    background: linear-gradient(to bottom right, #272c2a, #07637a);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    filter: none;

}
.nav>div{
    margin: 15px;
}
